* @zenitsuToast
/404.html @ben6499
/CNAME
/*.png
/favicon.ico
/site.webmanifest
/.github
/*.xml

/picture/C8763*toast.svg
/picture/Xisne*toast.svg @ben6499
/picture/dog*toast.svg
/picture/satan*toast.svg @Leo-037chiang
/picture/taro*toast.svg @ben6499
/picture/toast*cow.svg @charlie-moomoo
/picture/toast.svg
