@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
a {
  text-decoration:none
}
font {
  font-family: 'Noto Sans TC', sans-serif;
  font-size:35px
}
input,button {
  font-family: 'Noto Sans TC', sans-serif;
  font-size:80px:
  width:120px;
  height:40px
}
